
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none; 
    -webkit-appearance: none;
    font-family: 'Geometria';
}
a {
    color: #000;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 15px;
}

.btn {
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    color: #000000;
    padding: 12px 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s;
    &:hover {
        border: 1px solid #1B99EE;
    }
    &.blue {
        color: #fff;
        background: #1B99EE;
        border: none;
        &:hover {
            background: #2F89C6;
        }
    }
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -5;
        background: url("../img/bg.png") center no-repeat;
        background-size: cover;
    }
}

.header {
    width: 100%;
    margin-top: 50px;
    position: relative;
    z-index: 10;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
}
.header-btns {
    display: flex;
    align-items: center;
    .btn {
        margin-left: 41px;
        &:first-child {
            margin-left: 0;
        }
    }
}

.section {
    width: 100%;

    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}
.section-text {
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    .title {
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 33px;
        line-height: 150%;
        color: #262626;
        text-transform: uppercase;  
        b {
            color: #1B99EE;
        }
    }
    .subtitle {
        margin-bottom: 33px;
        font-weight: normal;
        font-size: 20px;
        line-height: 150%;
        color: #262626;
        
    }
    .timer {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 35px;
        .countdown {
            width: 100%;
            .clock {
                width: 100%;
                display: flex;
                align-items: center;
                &-item {
                    width: 60px;
                    margin-right: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    &:last-child {
                        margin-right: 0;
                    }
                    .wrap {
                        .inner {
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            flex-direction: column;
                            .can-block {
                                position: relative;
                                width: 60px;
                                height: 60px;
                                margin-bottom: 5px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                &::before {
                                    content: "";
                                    width: 90%;
                                    height: 90%;
                                    position: absolute;
                                    border-radius: 50%;
                                    border: 1px solid #ECECEC;
                                }
                                .clock-canvas {
                                    width: 100%;
                                    height: 100%;
                                   
                                    border-radius: 50%;
                                    position: relative;
                                   
                                }
                            }

                            .val {
                                
                                position: absolute;
                                top: 22px;
                                font-weight: bold;
                                font-size: 18px;
                                line-height: 100%;

                                text-align: center;
                                text-transform: uppercase;
                                
                                color: #000000;
                            }
                            .text {
                                font-weight: normal;
                                font-size: 13px;
                                line-height: 150%;
                                color:rgba(38, 38, 38, 1);
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
    .btn {
        text-transform: uppercase;
        padding: 15px 30px;
        font-size: 18px;
    }
}
.section-video {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 454px;
    
    text-align: center;
    flex-direction: column;
    position: relative;
    margin-top: -50px;
    iframe {
        position: absolute;
        width: 100%;
        z-index: 10;
        left: 0;
        display: none;
        
    }
    .bg-video {
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        cursor: pointer;
    }
    .play-video {
        position: relative;
        pointer-events: none;
        z-index: 2;
        box-shadow:  0px 0px 50px rgba(0, 0, 0, 0.2);
        margin: 135px 0  25px 0;
        border-radius: 50%;
    }
    span {
        display: block;
        font-weight: bold;
        font-size: 20px;
        line-height: 150%;
        position: relative;
        pointer-events: none;
        z-index: 2;
        text-align: center;
        text-transform: uppercase;
        
        color: #262626;
       
    }
}


.footer {
    width: 100%;
    margin-bottom: 10px;
    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.footer-date {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;

    color: #262626;
}
.footer-type {
    display: flex;
    align-items: center;
    margin-right: -300px;
    a {
        display: block;
        margin: 0 32px;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;

        color: #262626;
    }
}
.footer-social {
    display: flex;
    align-items: center;
    a {
        margin-left: 15px;
        &:first-child {
            margin-left: 0;
        }
        &:hover {
            svg {
                path {
                    fill: #1B99EE;
                }
            }
        }
        svg {
            transition: 0.3s;
            
        }
    }

}


@media (max-width:980px) {
    .main {
        overflow: hidden;
        &::before {
            display: none;
        }
    }
    .btn {
        font-size: 13.0769px;
        padding: 10px 20px;
    }
    .header {
        margin-top: 40px;
        .container {
            .logo {
                width: 80px;
                img {
                    width: 100%;
                }
            }
        }
    }
    .header-btns {
        .btn {
            margin-left: 10px;
            font-size: 11px;
            padding: 10px 15px;
        }
    }
    .section-text {
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 70px;
        .title {
            font-size: 25px;
            margin-bottom: 10px;
            br {
                display: none;
            }
        }
        .subtitle {
            margin-bottom: 30px;
            font-size: 15px;
            img {
                width: 70px;
            }
        }
        .timer {
            .countdown {
                .clock {
                    justify-content: center;
                    &-item {
                        margin-right: 10px;
                        .wrap {
                            .inner {
                                .val {
                                    font-size: 15px;
                                    top: 24px;
                                }
                                .text {
                                    font-size: 11px;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
        .btn {
            padding: 13px 20px;
            font-size: 12.5px;

        }
    }
    .section-video {
        width: 100%; 
        margin-top: 0;
        min-height: 280px;
        .bg-video {
            height: 100%;
            object-fit: cover;
        }
        .play-video {
            width: 60px;
            margin: 50px 0 16px 0;
        }
        span {
            font-size: 12.8148px;
        }
    }
    .footer {
        .container {
            flex-wrap: wrap;
        }
    }
    .footer-date {
        width: 50%;
        font-size: 12px;
    }
    .footer-type {
        margin-right: 0;
        width: 50%;
        justify-content: flex-end;
        a {
            font-size: 12px;
            margin: 0 15px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .footer-social {
        width: 100%;
        margin-top: 50px;
        justify-content: space-between;
    }
}