@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Regular.eot');
    src: local('Geometria Regular'), local('Geometria-Regular'),
        url('Geometria-Regular.eot?#iefix') format('embedded-opentype'),
        url('Geometria-Regular.woff2') format('woff2'),
        url('Geometria-Regular.woff') format('woff'),
        url('Geometria-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Medium.eot');
    src: local('Geometria Medium'), local('Geometria-Medium'),
        url('Geometria-Medium.eot?#iefix') format('embedded-opentype'),
        url('Geometria-Medium.woff2') format('woff2'),
        url('Geometria-Medium.woff') format('woff'),
        url('Geometria-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Light.eot');
    src: local('Geometria Light'), local('Geometria-Light'),
        url('Geometria-Light.eot?#iefix') format('embedded-opentype'),
        url('Geometria-Light.woff2') format('woff2'),
        url('Geometria-Light.woff') format('woff'),
        url('Geometria-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Bold.eot');
    src: local('Geometria Bold'), local('Geometria-Bold'),
        url('Geometria-Bold.eot?#iefix') format('embedded-opentype'),
        url('Geometria-Bold.woff2') format('woff2'),
        url('Geometria-Bold.woff') format('woff'),
        url('Geometria-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



@font-face {
    font-family: 'Geometria';
    src: url('Geometria-ExtraBold.eot');
    src: local('Geometria ExtraBold'), local('Geometria-ExtraBold'),
        url('Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Geometria-ExtraBold.woff2') format('woff2'),
        url('Geometria-ExtraBold.woff') format('woff'),
        url('Geometria-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: 'Geometria';
    src: url('Geometria-ExtraLight.eot');
    src: local('Geometria ExtraLight'), local('Geometria-ExtraLight'),
        url('Geometria-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Geometria-ExtraLight.woff2') format('woff2'),
        url('Geometria-ExtraLight.woff') format('woff'),
        url('Geometria-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Heavy.eot');
    src: local('Geometria Heavy'), local('Geometria-Heavy'),
        url('Geometria-Heavy.eot?#iefix') format('embedded-opentype'),
        url('Geometria-Heavy.woff2') format('woff2'),
        url('Geometria-Heavy.woff') format('woff'),
        url('Geometria-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Thin.eot');
    src: local('Geometria Thin'), local('Geometria-Thin'),
        url('Geometria-Thin.eot?#iefix') format('embedded-opentype'),
        url('Geometria-Thin.woff2') format('woff2'),
        url('Geometria-Thin.woff') format('woff'),
        url('Geometria-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

